<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="HMS-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/hmsdb</jta-data-source>
    <class>hms.entities.Donor</class>
    <class>hms.entities.Employee</class>
    <class>hms.entities.Event</class>
    <class>hms.entities.ExternalUser</class>
    <class>hms.entities.Project</class>
    <class>hms.entities.ProjectDonations</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
